/* mobile */
@media only screen and (max-width: 1000px) {
    body{
        padding: 0;
    }
    .profile-img{
        width: 70px;
        display: inline-block;
    }
    .user-name-span{
        display: inline-block !important;
        width: 60%;
    }
    .money-box{
        text-align: left;
        margin-top: 10px;
    }
    .money{
        width: 100%;
    }
    .sidebar li a{
        padding: 5px;
        font-size: 16px;
    }
    .sidebar-background{
        display: none;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .mobile-burger{
        display: block;
        z-index: 15;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 10px;
        position: absolute;
        right: 0;
    }
    .mobile-burger svg{
        width: 80px;
        height: 80px;
        background-color: #078ad4;
        border-radius: 10px;
        fill: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
    }
    input{
        width: 100%;
    }
    .form-block input, .form-block select{
        display: block !important;
        margin: 10px auto;
        width: 100%;
    }
    .message_box {
        width: 100%;
    }
    
    .all-heros{
       flex-direction: column;
    }
    .each-hero{
        transition: .2s ease-in-out;
        width: 100%;
        height: 100%;
        background-color: #7a6d63e6;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .each-hero:hover{
        padding: 70px 0;
        width: 100%;
        padding-bottom: 10px;
    }
    .each-hero span{
        display: none;
        width: 100%;
        background-color: transparent;
        padding: 10px 0;
        transition: .2s ease-in;
    }
    .each-hero:hover span{
        display: block;
        background-color: rgba(64,64,64,0.5);
        padding: 10px;
        margin-top: 70px;
    }
    
}