*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
@font-face {
    font-family: "Ringbearer";
    src:url("../fonts/ringbearer.ttf");
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 100%;
  padding: 5px;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.mobile-burger{
  display: none;
}
.btn-t{
  display: inline-block;
  background-image: linear-gradient(#00a3ff, #078ad4);
  color: #fff;
  margin-bottom: 5px;
  padding: 3px 10px;
  border-radius: 20px;
  text-shadow: 1px 1px .2px #808080b3;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  transition: .1s ease-in-out;
  font-size: .9rem;
}
.btn-t:hover{
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(#0a94e2, #0971ad);
}
.sidebar-position{
  /*position: absolute;
  top: 0;
  bottom: 0;*/
}
.nopadding{
  padding: 0px;
}
.login-box{
  display: block;
  width: 100%;
  padding: 20px 50px;
}
.go-quest{
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #840505;
  margin-top: 10px;
  cursor: pointer;
  transition: .2s ease all;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.go-quest:hover{
  transform: scale(1.05);
}
.select-hero-tutorial-box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(64,64,64,0.8);
  z-index: 20;
}
.select-hero-tutorial{
  background-color: rgba(255,255,255,0.8);
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
  box-shadow: 2px 5px 15px #292929;
}
.all-heros{
  display: flex;
  width: 100%;
  height: 100%;
}
.each-hero{
  transition: .2s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #7a6d63e6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  /*filter: blur(2px);*/
}
.each-hero:hover{
  width: 150%;
  background-color: #bba390e6;
  box-shadow: 0px 0px 10px #0009;
  z-index: 10;
  filter: none;
}
.each-hero span{
  display: block;
  width: 100%;
  background-color: rgba(64,64,64,0.7);
  padding: 10px 0;
}
.each-hero:hover span{
  background-color: rgba(64,64,64,0.9);
}
.message_box {
  display: block;
  margin: 10px auto;
  width: 300px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 3px rgb(64,64,64);
  transition: .2s ease;
  border-bottom: 5px solid #fff;
}
.red_alert{
  background-color: #e93232;
  color: #fff;
  font-weight: bold;
}
.green_alert{
  background-color: #1bc53f;
  color: #fff;
  font-weight: bold;
}
.disabled {
  background-image: linear-gradient(#939393, grey) !important;
  cursor: progress !important;
}
.login-box{
  background-color: #f7f3efb3;
  box-shadow: 0 5px 2px #0006;
  border-radius: 3px;
}
.login-box input{
  /*margin-bottom: 0;*/
}
.form-block input, .form-block select{
  display: block !important;
  margin: 10px auto;
  width: 300px;
}
form input, form select{
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(64,64,64);
  border: none;
  margin-bottom: 10px;
}
form input[type="submit"]{
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  background-image: linear-gradient(#00a3ff, #078ad4);
}
form input[type="submit"]:hover{
  background-image: linear-gradient(#0a94e2, #0971ad);
}
form input[type="text"], form input[type="password"]{
  background-color: rgba(255, 255, 255, 0.86);
}
.mediFont{
  font-family: "Ringbearer";
}
.mainUserDisplay{
  display: block;
  font-size: 30px;
  border-bottom: 1.5px solid #0009;
}
.actual-lvl{
  background-color: #f09800cc;
  border-radius: 20px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  margin-left: 5px;
  margin-bottom: 10px;
  min-width: 50px;
  display: inline-block;
  vertical-align: bottom;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  text-shadow: 1px 1px 1px black;
}
.background-medieval{
  background-image: url("../images/forest.jpeg");
  background-size: cover;
}
.sidebar-background{
  /* background-color: rgba(64,64,64,1); */
  background-color: #9c8470e6;
  color: white;
  padding: 20px;
  box-shadow: 2px 0px 10px #000c;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0) linear-gradient(#cbb19de6 0%, #bba390e6 100%) repeat scroll 0% 0%;
}
.sidebar{
  font-family: "Ringbearer";
  list-style: none;
  display: block;
  font-size: 20px;
}
.sidebar li{
  display: block;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 15px 0px;
}
.sidebar li a{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 10px;
  transition: top .01s linear;
  text-shadow: 1px 1px 1px #000;
  color: #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color: #e74c3c;

  box-shadow: 0 0 0 1px #0d78b8 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #327FC2, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color: #3d9cd8cc;
}
.sidebar li a:active{
  box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
  box-shadow: 0 0 0 1px #0276c6 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
  top: 8px;
}

.btn-close{
  box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5) !important;
  background-color: #e74c3c !important;
}
.btn-close:active{
  box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4) !important;
  top: 8px;
}
.btn-aceptar{
  cursor: pointer;
  display: block;
  position: relative;
  text-decoration: none;
  padding: 10px;
  transition: top .01s linear;
  text-shadow: 1px 1px 1px #000;
  color: #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #37b80d inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #51C232, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color: #66d83dcc;
}
.btn-aceptar:active{
  box-shadow: 0 0 0 1px #03c602 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
  top: 8px;
}
.profile-sidebar-display{
  display: block;
  width: 100%;
  padding: 5px;
}
.profile-sidebar-display span{
  display: block;
  text-align: center;
  font-family: "Ringbearer";
  margin: 10px;
}
.user-name-span{
  background: linear-gradient(#f6b846, #d78c05);
  background: linear-gradient(#e4ab41, #c58108);
  border-top-right-radius: 25px;
  /*border-bottom-right-radius: 25px;*/
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  border-left: 5px solid #fff;
  padding: 2px 0;
  text-shadow: 1px 1px .5px #000000b3;
  text-transform: lowercase;
}
.icon {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  transition: .2s ease;
  cursor: pointer;
  background-color: #fff;
}
.icon:hover{
  transform: scale(1.1);
  box-shadow: 0px 5px 10px #0e477eb3;
}
.icon-selected {
  border: 5px solid gold;
  border-radius: 50%;
}
.icon-selected:hover{
  transform: none;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.guild-box{
  display: block;
  padding: 0px 20px 10px 0px;
}
.guild-box-separator{
  border-right: 1px solid #947c69;
}
.guild-box strong{
  display: block;
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.guild-title{
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.guild-title span{
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
.guild-icon{
  display: inline-block;
  width: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  margin-right: 10px;
}
.profile-img{
  display: block;
  border-radius: 50%;
  margin: auto;
  border: 4px solid #fff;
  box-shadow: 0px 0px 3px rgb(64,64,64);
  width: 50%;
  transition: .3s ease all;
  cursor: pointer;
  background-color: #fff;
  box-shadow: inset 0px 0px 2px black;
}
.profile-img:hover{
  transform: scale(1.05);
}
.main-char-box{
  display: block;
}
.main-char-box img{
  display: block;
  width: 100%;
}
.bar{
  display: block;
  height: 30px;
  border: 3px solid white;
  /* border-radius: 10px; */
  margin: 10px 0px;
  background-color: #c8c5c5cc;
  box-shadow: 0px 0px 3px rgb(26, 25, 25);
}
.inner-shadow{
  box-shadow: inset 0px 0px 5px rgb(99, 96, 96);
}
.health-bar{
  max-width: 100%;
  display: block;
  height: 100%;
  border-radius: 3px;
  background-color: #48a748;
}
.mana-bar{
  max-width: 100%;
  display: block;
  height: 100%;
  border-radius: 3px;
  background-color: #409bde;
}
.actual-bar-value{
  display: inline-block;
  color: white;
  margin-left: 10px;
  font-size: 16px;
  vertical-align: super;
}
.max-bar-value{
  font-size: 16px;
  vertical-align: super;
  float: right;
  bottom: 24px;
  position: relative;
  right: 10px;
}
.info-user-bars{
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(64,64,64);
}
.stat{
  display: inline-block;
}
.stat-box {
  background-color: #23b8e9;
  padding: 0px 5px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000e6;
}
.woodbox{
  padding: 20px;
  margin-top: 20px;
  background-color: #a52a2ae6;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px black;
}
.zone-bg{
  background-color: #bba390e6;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(64,64,64);
}
.zone-listeee li{
  display: block;
  text-align: center;
  background-color: #bca73f;
  border-radius: 3px;
  margin: 10px 0px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  text-shadow: 2px 1px 2px black;
  border: 2px solid  #7e0b0e;
  border-left: 10px solid #6f1316;
  transition: .2s ease all;
  cursor: pointer;
}
.zone-list li{
  display: block;
  text-align: center;
  margin: 10px 0px;
  text-shadow: 1px 1px 2px black;
  border-top: 2px dashed #947c69;
  border-bottom: 2px dashed #947c69;
  transition: .2s ease all;
  cursor: pointer;
  padding: 5px 0px;
}
.zone-list li:hover .inner-quest-box{
  background-color: #a4887299;
  /* border-top: 2px dashed transparent;
  border-bottom: 2px dashed transparent; */
  /* box-shadow: inset 0px 0px 5px black; */
  /* -webkit-box-shadow: 0 8px 6px -6px #000000b3;
  -moz-box-shadow: 0 8px 6px -6px #000000b3;
  box-shadow: 0 8px 6px -6px #000000b3; */
}
.selected-quest-box{
  background-color: #a4887299;
}
.energy-box{
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.inner-quest-box img{
  width: 20px;
}
.modal-title-size{
  font-size: 30px;
}
.modal-blue-bg{
  color: #fff;
  background: linear-gradient(339deg, #3588d3, #2074c0, #1164af);
}
.score{
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  margin-left: 10px;
}
.score-red{
  background-color: #a5090d;
}
.inner-quest-box .guild-user-img{
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  width: 25px;
  margin-right: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.quest-disabled{
  cursor: not-allowed !important;
  background-color: rgba(64,64,64, 0.8);
  color: grey;
  border-top: 2px dashed transparent !important;
  border-bottom: 2px dashed transparent !important;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.quest-disabled img{
  margin-right: 20px;
}
.quest-disabled:hover .inner-quest-box{
  background-color: transparent !important;
}
.description-dark-box{
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(64,64,64,0.8);
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.fit{
  display: block;
  width: 100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.money-box{
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
}
.money-box span{
  display: inline-block;
  margin: 0px;
  background-color: #41a23fcc;
  padding: 3px 5px;
  border-radius: 3px;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.money-box img{
  display: inline-block;
  width: 30px;
}
.title-list {
  display: block;
  text-align: center;
  margin: 10px 0px;
  text-shadow: 1px 1px 2px black;
  border-top: 2px dashed #947c69;
  border-bottom: 2px dashed #947c69;
  transition: .2s ease all;
  padding: 5px 0px;
}
.items{
  list-style: none;
}
.item{
  display: block;
  padding: 5px;
  border: 2px dashed #947c69;
}
.item img:hover{
  background-color: #a4887299;
}
.item img{
  display: block;
  width: 100%;
  cursor: pointer;
}
.item-lvl{
  display: block;
  margin: auto;
  width: 100%;
  height: 10px;
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.item-lvl-normal{
  /* background-color: #229822; */
  background: linear-gradient(#28b928, #229822);
}
.item-lvl-rare{
  /* background-color: #0fa2c9; */
background: linear-gradient(#0faad4, #10809e);}
.item-lvl-epic{
  /* background-color: #8224ad; */
  background: linear-gradient(#a732dd, #8224ad);
}
.item-lvl-legendary{
  /* background-color: #e18426; */
  background: linear-gradient(#ff9529, #e18426);
}
.item-box{
  margin: 10px 0px;
}
.item-name-title{
  display: block;
  text-align: center;
  margin: 10px 0px;
  text-shadow: 1px 1px 2px black;
  border-bottom: 2px dashed #947c69;
  transition: .2s ease all;
  padding: 5px 0px;
  margin: -5px;
  margin-bottom: 10px;
  background-color: #a4887299;
}
.stat-item{
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 0px 10px;
  float: right;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.stat-item-title{
  display: inline-block;
  font-size: 14px;
}
.item-rarity{
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-shadow: 1px 1px #000;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.item-bg{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.item-dmg{
  background-color: #cc2424;
}
.item-def{
  background-color: #287842;
}
.item-mgc{
  background-color: #1ea7b7;
}
.imgnohover{
  cursor: default !important;
}
.imgnohover:hover{
  background-color: inherit !important;
}
.equip-button{
  background: linear-gradient(#8cd670, #6bab53);
  color: white;
  border: none;
  text-shadow: 1px 1px 1px #3e3e3e;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.equip-button:hover{
  background: linear-gradient(#8cd670, #578f43);
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.equip-button:active{
  background: linear-gradient(#578f43, #8cd670);
  box-shadow: none;
}

.discard-button{
  background: linear-gradient(#f22d2d, #a8140f);
  color: white;
  border: none;
  text-shadow: 1px 1px 1px #3e3e3e;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.discard-button:hover{
  background: linear-gradient(#f22d2d, #780f0b);
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.discard-button:active{
  background: linear-gradient(#a8140f, #f22d2d);
  box-shadow: none;
}


.slot{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px rgb(64,64,64);
  padding: 10px;
  background-color: rgba(255,255,255,0.1);
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
}
.slot:hover{
  background-color: rgba(255,255,255,0.2);
}
.slot img{
  display: inline-block;
  width: 50px;
}
.slot p{
  margin-left: 5px;
  margin-bottom: 0;
  display: inline-block;
  width: 50%;
}
.slot span{
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
}
.numberOfItems{
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.description-box{
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
  background-color: #ffffff1a;
  color: white;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 0;
}
